/* @todo map all css var brightness etc */

.image-component {
    margin: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    container-type: inline-size;
}

.image-component figcaption a {
    /* 
    font-size: 2.5rem; 
    */
    font-size: clamp(1.5rem, calc(11.123px + 3.219vw), 2.5rem);
    font-weight: 600;
    padding: 2.5rem;
}

.common-image-component {
    width: 100%;
    object-fit: cover;
    object-position: #{var(--focal-point-x)} #{var(--focal-point-y)};
}

.image-on {
    position: absolute;
    width: auto;
    z-index: 1;
}

.image-on.halign-center,
.image-on.halign-right {
    width: 100%;
    display: flex;
}

.image-on.halign-center {
    justify-content: center;
}

.image-on.halign-right {
    justify-content: end;
}

.image-on.valign-top {
    top: 2vw;
}

.image-on.valign-middle {
    top: calc(50% - 1em);
}

.image-on.valign-bottom {
    bottom: 2vw;
}

span.image-below {
    color: var(--skin-main-text-color-1);
    padding-top: 0.75em;
    text-align: center;
}

.drop-shadow-contrast {
    text-shadow: 1px 1px 4px #000;
}

.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary h4,
.bg-primary a,
.bg-primary span {
    background-color: var(--skin-primary-color-1);
    padding: 0.5rem 1rem;
}

.bg-bgcolor h1,
.bg-bgcolor h2,
.bg-bgcolor h3,
.bg-bgcolor h4,
.bg-bgcolor a,
.bg-bgcolor span {
    background-color: var(--skin-background-color-1);
    padding: 0.5rem 1rem;
}

.bg-interation h1,
.bg-interation h2,
.bg-interation h3,
.bg-interation h4,
.bg-interation a,
.bg-interation span {
    background-color: var(--skin-link-color-1);
    padding: 0.5rem 1rem;
}

.bg-menucolor h1,
.bg-menucolor h2,
.bg-menucolor h3,
.bg-menucolor h4,
.bg-menucolor a,
.bg-menucolor span {
    background-color: var(--skin-banner-background-color-1);
    padding: 0.5rem 1rem;
}

.fg-primary,
.fg-primary a,
.fg-primary span {
    color: var(--skin-primary-color-1);
}

.fg-bgcolor,
.fg-bgcolor a,
.fg-bgcolor span {
    color: var(--skin-background-color-1);
}

.fg-interation,
.fg-interation a,
.fg-interation span {
    color: var(--skin-link-color-1);
}

.fg-menucolor,
.fg-menucolor a,
.fg-menucolor span {
    color: var(--skin-banner-background-color-1);
}

.gradient-contrast::after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(180deg, transparent 70%, rgba(0, 0, 0, .6));
}